CompileFlags:
  Remove:
    - "-mlongcalls"
    - "-mtext-section-literals"
    - "-free"
    - "-fipa-pta"
    - "-falign-functions=*"
    - "-mlong-calls"
  Add:
    - "-IC:/Users/huangyiqian/.platformio/packages/toolchain-xtensa/xtensa-lx106-elf/include"
    - "-IC:/Users/huangyiqian/.platformio/packages/toolchain-xtensa/lib/gcc/xtensa-lx106-elf/10.3.0/include"
    - "-IC:/Users/huangyiqian/.platformio/packages/toolchain-xtensa/xtensa-lx106-elf/include/c++/10.3.0"
    - "-IC:/Users/huangyiqian/.platformio/packages/toolchain-xtensa/xtensa-lx106-elf/include/c++/10.3.0/xtensa-lx106-elf"
